body{
    margin: 0;
    padding: 0;
    color: #47556c;
    font-family: futura-pt, sans-serif;
}
.container {
    position: relative;
    width: 100%;
    height: auto;
    background: #ebdfe1;
    overflow-x: hidden;
}
 
 #menuToggle {
   display: block;
   position: fixed;
   top: 7.6vw;
   left: 7.6vw;
   
   z-index: 10;
   
   -webkit-user-select: none;
   user-select: none;
 }
 
 #menuToggle a {
   text-decoration: none;
   color: #232323;
   
   transition: color 0.3s ease;
 }
 
 #menuToggle a:hover {
   color: #88a3ce;
 }
 
 
 #menuToggle input {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
   
   cursor: pointer;
   
   opacity: 0; 
   z-index: 11; 
   
   -webkit-touch-callout: none;
 }
 
 #menuToggle span {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   
   background: #47556c;
   border-radius: 3px;
   
   z-index: 10;
   
   transform-origin: 4px 0px;
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
 #menuToggle span:first-child {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2) {
   transform-origin: 0% 100%;
 }
 
 #menuToggle input:checked ~ span {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #47556c;
 }
 

 #menuToggle input:checked ~ span:nth-last-child(3) {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 #menuToggle input:checked ~ span:nth-last-child(2) {
   transform: rotate(-45deg) translate(0, -1px);
 }
 
 #menu {
   position: absolute;
   width: 100vw;
   margin: -100px 0 0 -50px;
   padding: 50px;
   padding-top: 125px;
   
   background: #ebdfe1;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li {
   padding: 10px 0;
   font-size: 22px;
 }
 
 #menuToggle input:checked ~ ul {
   transform: none;
 }
 .container #title {
    font-size: 6vw;
    padding-left: 22vw;
    margin-top: 7vw;
 }
 .container #logo {
    width: 14vw;
    float: right;
    margin-top: -15vw;
    margin-right: 6vw;
}
.navbar {
    padding-bottom: 2vw;
    width: 100%;
    height: fit-content;
    position: fixed;
    z-index: 4;
    background: #ebdfe1;
}
.bg-image {
    background-image: url("../images/stuy-blur.png");
    padding-top: 36vw;
    height: 36vw;
    width: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-text {
    background: rgb(8,0,0);
    background: linear-gradient(180deg, rgba(8,0,0,0) 0%, rgba(0,0,0,0.6018382352941176) 100%);
    color: white;
    font-size: 2.6vw;
    letter-spacing: 3px;
    font-weight: bold;
    position: absolute;
    z-index: 1;
    height: 34vw;
    width: 100%;
    text-align: center;
    margin-top: -34vw;
}
@keyframes fadeIn {
    0% {
      opacity: 0.0;
    }
    100% {
      opacity: 1.0;
    }
}
.navbar #menuToggle {
    opacity: 0;
    animation: fadeIn 1s 1;
    animation-fill-mode: forwards;
}
.navbar #menuToggle:nth-child(5n+1){
    animation-delay: 0.4s;
}
.navbar h1 {
    opacity: 0;
    animation: fadeIn 1s 1;
    animation-fill-mode: forwards;
}
.navbar h1:nth-child(5n+2) {
    animation-delay: 0.6s;
}
.navbar img {
    opacity: 0;
    animation: fadeIn 1s 1;
    animation-fill-mode: forwards;
}
.navbar img:nth-child(5n+3) {
    animation-delay: 0.8s;
}
.bg-image {
    opacity: 0;
    animation: fadeIn 1s 1;
    animation-fill-mode: forwards;
}
.bg-image:nth-child(5n+2){
    animation-delay: 1s;
}
.bg-text {
    opacity: 0;
    animation: fadeIn 1s 1;
    animation-fill-mode: forwards;
}
.bg-text:nth-child(5n+3){
    animation-delay: 1s;
}
.content {
    opacity: 0;
    animation: fadeIn 1s 1;
    animation-fill-mode: forwards;
}
.content:nth-child(5n+1){
    animation-delay: 1.2s;
}
.event-list-parent {
    opacity: 0;
    animation: fadeIn 1s 1;
    animation-fill-mode: forwards;
}
.event-list-parent {
    animation-delay: 1.4s;
}
.content {
    margin: auto;
    width: 80%;
}
.content #img img {
    width: 30vw;
}
.content #content-body {
    padding: 2vw;
}
.content #content-body h1 {
    font-size: 4.2vw;
}
.content #content-body p {
    font-size: 2.6vw;
}
.event-list-parent {
    margin: auto;
    width: 80%;
    background:#a33b3b;
}
.event-list ul {
    margin-right: 4vw;
    margin-left: -5vw;
}
.event-list ul li {
    list-style: none;
    padding-top: 1vw;
}
.event-list #event-date {
    color: #83c2e0;
    font-size: 3.4vw;
}
.event-list #event-title {
    color: white;
    font-size: 3.6vw;
}
.event-list p {
    color: white;
    font-size: 2.6vw;
}
.event-list #head {
    font-family: acumin-pro-wide, sans-serif;
    font-size: 3.4vw;
    letter-spacing: 1px;
    font-weight: 700px;
    font-style: normal;
    color: white;
    margin-top: -4vw;
}